/* Structure */
.container {
	max-width: 1000px;
	padding: 30px 25px;
	margin: 0 auto;
	height: 100%;
}

.site-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  .title {
		background-color: $color_header-bg;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
		margin-bottom: 30px;
  }
  .content {
    padding: 0 0 30px;
    height: auto;
  }
}

.site-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.collumn {
		max-width: 300px;
		margin: 0 25px 0;
	}
	aside {
		max-width: 300px;
		margin: 0 25px 0;
		@include desktop {
			width: 200px;
			h3 {
				font-size: 25px;
			}
		}
	}
	.panel {
		iframe {
			margin-bottom: 30px;
		}
		.title {
			position: relative;
			cursor: pointer;
			&:after {
				content: '\f105';
				font-family: "FontAwesome";
				text-align: center;
				border-left: 4px solid white;
				position: absolute;
				right: 0;
				top: 0;
				height: 50px;
				width: 50px;
			}
		}
		.content {
			display: none;
		}
	}
	.current {
		.title {
			&:after {
				content: '\f107';
				font-family: "FontAwesome";
				text-align: center;
				border-left: 4px solid white;
				position: absolute;
				right: 0;
				top: 0;
				height: 50px;
				width: 50px;
			}
		}
	}
}
