/* Structure */
.container {
	max-width: 1000px;
	padding: 30px 25px;
	margin: 0 auto;
	height: 100%;
}

.site-content {
  .title {
		background-color: $color_header-bg;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
		margin-bottom: 30px;
  }
  .content {
    padding: 0 0 30px;
    height: auto;
  }
	@include desktop {
		padding-top: 100px;
	}
}

.site-main {
	.collumn {
		max-width: 100%;
		margin: 0 25px 0;
		@include tablet {
			width: 100%;
			max-width: calc(50% - 50px);
			&:nth-child(1){
				float: left;
			}
			&:nth-child(2){
				float: right;
				max-width: calc(50% - 50px);
			}
		}
		ul {
			margin: 0;
			padding-left: 1rem;
		}
		li {
			margin-bottom: 1rem;
		}
		.photos {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			@include tablet {
				justify-content: space-between;
			}
			p {
				width: 135px;
			}
		}
		@include desktop {
			float: none;
			max-width: 300px;
		}
	}
	aside {
		word-spacing: -1px;
		max-width: 100%;
		margin: 0 25px 0;
		@include tablet {
			width: 100%;
			max-width: calc(50% - 50px);
			float: right;
		}
		@include desktop {
			float: none;
			max-width: 200px;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
	.panel {
		iframe {
			margin-bottom: 30px;
		}
		.title {
			position: relative;
			cursor: pointer;
			&:after {
				content: '\f105';
				font-family: "FontAwesome";
				text-align: center;
				border-left: 4px solid white;
				position: absolute;
				right: 0;
				top: 0;
				height: 50px;
				width: 50px;
			}
		}
		.content {
			display: none;
		}
	}
	.current {
		.title {
			&:after {
				content: '\f107';
				font-family: "FontAwesome";
				text-align: center;
				border-left: 4px solid white;
				position: absolute;
				right: 0;
				top: 0;
				height: 50px;
				width: 50px;
			}
		}
	}
	@include desktop {
		display: flex;
		justify-content: space-between;
	}
}
