/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Logo */

.site-header {
	width: 100vw;
	background: url(../../images/wilderness-mobile.jpg);
	background-size: cover;
	.site-branding {
		max-width: 280px;
		margin: 0 auto;
	}
	@include tablet {
		background: url(../../images/wilderness-tablet.jpg);
		background-size: cover;
	}
	@include desktop {
		background: url(../../images/wilderness.jpg);
		background-size: cover;
		height: 100vh;
	}
	.container {
		position: relative;
	}
}

/* Social */
.social {
	position: absolute;
	top: 30px;
	right: 30px;
	a {
		color: black;
	}
	ul {
		list-style: none;
		li {
			display: inline-block;
		}
	}
	i {
		font-size: 25px;
		color: black;
		margin: 0 7px 0;
	}
}
