/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Logo */

.site-header {
	width: 100vw;
	height: 200px;
	background: url(../../images/wilderness-mobile.jpg);
	background-size: cover;
	.container {
		padding: 10px 25px;
		@include tablet {
			padding: 30px 25px;
		}
	}
	.site-branding {
		max-width: 280px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		height: 100%;
		max-height: 200px;
		margin-bottom: 25px;
		img {
			width: 90px;
			@include tablet{
				width: 200px;
			}
		}
		h2 {
			@include tablet {
				font-size: 1.3rem;
				transition: all 1s ease;
			}
		}
		@include desktop {
			position: absolute;
			left: 0;
			right: 0;
			height: auto;
			max-height: inherit;
		}
	}
	@include tablet {
		height: 400px;
		background: url(../../images/wilderness-tablet.jpg);
		background-size: cover;
	}
	@include desktop {
		background: url(../../images/wilderness.jpg) no-repeat;
		background-size: cover;
		height: 100vh;
		transition: all 1.5s ease;
		.overlay {
			background-color: rgba(255,255,255,0);
			height: 100%;
			transition: all 1s ease;
		}
	}
	.container {
		position: relative;
	}
}
.minified {
	@include desktop {
		height: 190px;
		.site-branding {

		}
		.overlay {
			background-color: rgba(255,255,255,.75);
		}
		h2 {
			color: $color__text-main;
		}
		img {
			margin-bottom: 30px;
			transition: all 1s ease;
		}
	}
}

/* Social */
.social {
	display: none;
	@include tablet {
		display: flex;
		justify-content: center;
	}
	@include desktop {
		position: absolute;
		top: 30px;
		right: 30px;
	}
	a {
		color: black;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
		}
	}
	i {
		font-size: 25px;
		color: black;
		margin: 0 7px 0;
	}
}
